<% @subcategories.each do |sub| %>
  <details>
    <summary><%= sub.name %></summary>
    <div class="items">
      <% sub.tasks.each do |task| %>
        <div class="item">
          <div class="cont <%= 'const-done' if task.done %>">
            <%= check_box_tag 'done', task.id, task.done, id: "task_#{task.id}" %>
            <p><%= task.name %></p>
          </div>
        </div><br>
      <% end %>
    </div>
  </details>
<% end %>