<section id="main">
  <section id="left-panel">
    <div class="nav">
      <div class="text">
        <h3 class="hug collapse">Groups</h3>
      </div>
      <div class="action_nav">
        <span class="material-symbols-outlined">
          settings
        </span>
      </div>
    </div>
    <div class="content">
      <div class="lists">
        <%= render 'group-list' %>
      </div>
    </div>
  </section>
  <section id="middle-panel">
    <div class="nav">
      <div class="text">
        <h3 class="hug">Tasks</h3>
      </div>
      <div class="action_nav">
        <span class="material-symbols-outlined">
          tune
        </span>
        <span class="material-symbols-outlined">
          settings
        </span>
        <span class="material-symbols-outlined grid">
          grid_view
        </span>
      </div>
    </div>
    <div class="content">
      <div class="tags">
        <div class="tag">
          Work
        </div>
        <div class="tag">
          List 1
        </div>
      </div>
      <div class="lists">
        <%= render 'lists-w-tasks' %>
      </div>
    </div>
  </section>
  <section id="right-panel">
    <div class="nav">
      <div class="text">
        <span class="material-symbols-outlined collapse">
          close
        </span>
        <h3 class="hug">Task details</h3>
      </div>
      <div class="action_nav">
        <%= link_to "more_horiz", destroy_user_session_path, class: 'material-symbols-outlined', data: { turbo_method: :delete } %>
      </div>
    </div>
    <div class="content">
      <div class="desc">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta molestie neque eget lacinia. Fusce velit mauris, fermentum sed felis in, pulvinar maximus dolor. Ut in enim eget dolor vestibulum malesuada id et eros. Suspendisse potenti. Sed ultrices consequat enim. Mauris et cursus sapien. Donec lectus mauris, rhoncus eu libero sagittis, finibus hendrerit felis. Ut vel ornare erat. </p>
      </div>
      <div class="tags">
        <div class="tag">
          IOS
        </div>
        <div class="tag">
          Android
        </div>
        <div class="tag">
          Other tag
        </div>
      </div>
      <div class="user-info">
      </div>
    </div>
  </section>
</section>