<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="typo.css">
      <link rel="stylesheet" href="main/dropdowns.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://use.typekit.net/yqx2xsr.css">
      <title>TODO</title>
    </head>
  <body>
    <section id="welcome">
      <h1>MiniTODO</h1>
      <h3>Your safe place to organize everything</h3>
      <button class="run-btn" role="button">Start</button>
    </section>
    <section id="left-panel">
      <div class="nav">
        <div class="text">
          <h3 class="hug collapse">Groups</h3>
        </div>
        <div class="action">
                    <span class="material-symbols-outlined">
                        settings
                    </span>
        </div>
      </div>
      <div class="content">
        <div class="lists">
          <details>
            <summary>Holidays</summary>
            <a href="#">List 1</a>
            <a href="#">List 2</a>
            <a href="#">List 3</a>
          </details>
          <details>
            <summary class="active">Work</summary>
            <a href="#" class="active">List 1</a>
            <a href="#">List 2</a>
            <a href="#">List 3</a>
          </details>
          <details>
            <summary>Container</summary>
            <a href="#">List 1</a>
            <a href="#">List 2</a>
            <a href="#">List 3</a>
          </details>
          <details>
            <summary>Events</summary>
            <a href="#">List 1</a>
            <a href="#">List 2</a>
            <a href="#">List 3</a>
          </details>
          <details>
            <summary>Important</summary>
            <a href="#">List 1</a>
            <a href="#">List 2</a>
            <a href="#">List 3</a>
          </details>
          <details>
            <summary>Empty</summary>
            <a href="#">List 1</a>
            <a href="#">List 2</a>
            <a href="#">List 3</a>
          </details>
          <details>
            <summary>Templates</summary>
            <a href="#">List 1</a>
            <a href="#">List 2</a>
            <a href="#">List 3</a>
          </details>
        </div>
      </div>
    </section>
    <section id="middle-panel">
      <div class="nav">
        <div class="text">
          <h3 class="hug">Tasks</h3>
        </div>
        <div class="action">
                    <span class="material-symbols-outlined">
                        tune
                        </span>
          <span class="material-symbols-outlined">
                        settings
                    </span>
          <span class="material-symbols-outlined grid">
                        grid_view
                    </span>
        </div>
      </div>
      <div class="content">
        <div class="tags">
          <div class="tag">
            Work
          </div>
          <div class="tag">
            List 1
          </div>
        </div>
        <div class="lists">
          <details>
            <summary>TODO: future</summary>
            <div class="items">
              <div class="item">
                <div class="cont done">
                  <input type="checkbox" checked><p>make something in future</p>
                </div>
              </div><br>
              <div class="item">
                <div class="cont">
                  <input type="checkbox"><p>do some ideas</p>
                </div>
              </div><br>
              <div class="item">
                <div class="cont">
                  <input type="checkbox"><p>longer task title - even more longer</p>
                </div>
              </div><br>
            </div>
          </details>
          <details>
            <summary>TODO: ASAP</summary>
            <div class="items">
              <div class="item">
                <div class="cont">
                  <input type="checkbox"><p>task</p>
                </div>
              </div><br>
              <div class="item">
                <div class="cont">
                  <input type="checkbox"><p>task</p>
                </div>
              </div><br>
              <div class="item">
                <div class="cont">
                  <input type="checkbox"><p>task</p>
                </div>
              </div><br>
            </div>
          </details>
          <details>
            <summary>WorkLifeBalance</summary>
            <div class="items">
              <div class="item">
                <div class="cont">
                  <input type="checkbox"><p>task</p>
                </div>
              </div><br>
              <div class="item">
                <div class="cont">
                  <input type="checkbox"><p>task</p>
                </div>
              </div><br>
              <div class="item">
                <div class="cont">
                  <input type="checkbox"><p>task</p>
                </div>
              </div><br>
            </div>
          </details>
          <details>
            <summary>Projects</summary>
            <div class="items">
              <div class="item">
                <div class="cont">
                  <input type="checkbox"><p>task</p>
                </div>
              </div><br>
              <div class="item">
                <div class="cont">
                  <input type="checkbox"><p>task</p>
                </div>
              </div><br>
              <div class="item">
                <div class="cont">
                  <input type="checkbox"><p>task</p>
                </div>
              </div><br>
            </div>
          </details>
          <details>
            <summary>Clients</summary>
            <div class="items">
              <div class="item">
                <div class="cont">
                  <input type="checkbox"><p>task</p>
                </div>
              </div><br>
              <div class="item">
                <div class="cont">
                  <input type="checkbox"><p>task</p>
                </div>
              </div><br>
              <div class="item">
                <div class="cont">
                  <input type="checkbox"><p>task</p>
                </div>
              </div><br>
            </div>
          </details>
        </div>
      </div>
    </section>
    <section id="right-panel">
      <div class="nav">
        <div class="text">
                    <span class="material-symbols-outlined collapse">
                        close
                    </span>
          <h3 class="hug">Task details</h3>
        </div>
        <div class="action">
                    <span class="material-symbols-outlined">
                        more_horiz
                    </span>
        </div>
      </div>
      <div class="content">
        <div class="desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta molestie neque eget lacinia. Fusce velit mauris, fermentum sed felis in, pulvinar maximus dolor. Ut in enim eget dolor vestibulum malesuada id et eros. Suspendisse potenti. Sed ultrices consequat enim. Mauris et cursus sapien. Donec lectus mauris, rhoncus eu libero sagittis, finibus hendrerit felis. Ut vel ornare erat. </p>
        </div>
        <div class="tags">
          <div class="tag">
            IOS
          </div>
          <div class="tag">
            Android
          </div>
          <div class="tag">
            Other tag
          </div>
        </div>
        <div class="user-info">

        </div>
      </div>
    </section>
  </body>
</html>