<%= turbo_frame_tag "right-panel" do %>
  <div class="nav">
    <div class="text">
      <h3 class="hug">Task details</h3>
      <h4><%= @task.name %></h4>
    </div>
    <div class="action">
    </div>
  </div>
<% end %>