* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 14;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

.smaller-icon {
    font-size: 20px!important;
}

.scale-up {
    transition: transform 0.2s ease-in-out;
}

.scale-up:hover {
    transform: scale(1.1);
}

.hover:hover {
    border-radius: 40px;
    background-color: #eaeaea !important;
}

.const-hover {
    border-radius: 40px;
    background-color: #eaeaea !important;
}

#main {
    display: grid;
    grid-template: 1fr / 1fr 2fr 2fr;
    column-gap: 0.3rem;

    padding: .3rem;
    height: 100vh;

    background-color: black;
    user-select: none;
}

#welcome {
    height: 100vh;
    z-index: 999;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome h3 {
    padding-bottom: 4vh;
}

#left-panel,
#middle-panel,
#right-panel {
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
}

#left-panel > .nav,
#right-panel > .nav,
#middle-panel > .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1rem;
}

.lists {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

#left-panel .lists {
    gap: .4rem;
}

#right-panel > .nav > .text {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#middle-panel > .nav > .action_nav > span,
#left-panel > .nav > .action_nav > span,
#right-panel > .nav > .action_nav > span {
    margin: 0 0.2rem;
}

.nav span {
    cursor: pointer;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    margin-bottom: 1rem;
}

.tags > .tag {
    display: inline;

    padding: 0.1rem 0.3rem;

    background-color: rgb(233, 233, 233);
    font-size: 0.7rem;
    border-radius: 0.2rem;
    font-weight: 600;
}

.active {
    color: rgb(69, 69, 253);
}

.desc p {
    font-size: 0.8rem;
    font-weight: 300;
}

.run-btn {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    touch-action: manipulation;
    width: clamp(100px, 150px, 200px);
    will-change: transform;
}

.run-btn:disabled {
    pointer-events: none;
}

.run-btn:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.run-btn:active {
    box-shadow: none;
    transform: translateY(0);
}

input[type=text] {
    width: 100%;
    padding: .4rem;
    margin-top: .3rem;

    border-radius: .4rem;
    outline: 0;
    border: 1.5px solid lightgrey;

    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

input[type=text]:active {
    transform: scale(0.95);
}

input[type=text]::placeholder {
    opacity: 40%;
    font-size: 85%;
}

@keyframes line_slide {
    0%   { width: 0; }
    100% { width: calc(100% - 1rem); }
}

@keyframes fade_out_text {
    0% { opacity: 100%; }
    100% { opacity: 40%; }
}

@keyframes fade_in_text {
    0% { opacity: 0; }
    100% { opacity: 100%; }
}

summary {
    list-style: none;
    display: flex;
    align-items: center;
    padding: .2rem 0;
    font-size: .75rem;
    font-weight: 400;
    color: #30353b;
    position: relative;
}

summary::before {
    content: '';
    width: 15px;
    height: 8px;
    background: url('https://uploads.sitepoint.com/wp-content/uploads/2023/10/1697699669arrow.svg') no-repeat;
    background-size: cover;
    margin-right: .75em;
    transition: 0.2s;
}

details[open] > summary {
    margin-bottom: .3rem;
    padding-bottom: .3rem;
    border-bottom: #30353b solid 1px;
}

details[open] > summary::before {
    transform: rotate(180deg);
}

summary::-webkit-details-marker {
    display: none;
}

details {
    display: flex;
    flex-direction: column;
    gap: 1em;
    cursor: pointer;
    width: 100%;
}

details[open] {
    width: 100%;
}

details a {
    text-decoration: none;
    color: grey;
    padding-left: 0.5rem;
    margin-bottom: 0.3rem;
    font-size: .75rem;
}

details p {
    text-decoration: none;
    color: grey;
    font-size: .75rem;
    margin-bottom: 0;
}

details .cont {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    width: auto;

    align-items: center;
    position: relative;
}

.done {
    animation: fade_out_text ease 1s;
    animation-fill-mode:forwards;
}

.done::after {
    content: "";
    height: 1px;
    background-color: grey;
    position: absolute;
    left: 1rem;
    animation: line_slide ease 1s;
    animation-fill-mode:forwards;
}

.const-done {
    opacity: 40%;
}

.const-done:after {
    content: "";
    height: 1px;
    background-color: grey;
    position: absolute;
    left: 1rem;
    width: calc(100% - 1rem);
}

.action .remove {
    display: none;
    margin: 0;
    padding: 0;
    transition: .2s ease;
}

.action .add {
    margin: 0;
    padding: 0;
    transition: .2s ease;
}

.options {
    display: none;
    align-items: center;
    margin: 0;
    padding: 0;
    animation: fade_in_text ease .2s;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.2s ease;
}

.options-open {
    background-color: lightgray;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    padding: 5px;
    display: none;
    align-items: center;
    gap: .3rem;
    top: .9rem;
    right: 0;
    z-index: 999!important;
    animation: fade_in_text ease .2s;
    border: rgba(0,0,0,0.2) solid 1px;
}

.list summary {
    display: flex;
    flex-direction: row;
}

#left-panel > .nav {
    position: relative;
}

.action {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
}

.items {
    width: auto;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;

    padding: 0 .4rem;
    border-radius: 5px;

    transition: .2s ease-in-out;
}

.item:hover {
    box-shadow: 0px 0px 4px 1px rgba(185, 185, 185, .2);
}